.customerRegistrationForm {
  position: fixed;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  border: 1px solid #808080;
}

input[type=submit] {
  width: 35%;
  background-color: rgb(17, 122, 21);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 17px;
  font-size: 100%;
  margin-top: 25px;
}

.customerRegistrationImage {
  display: flex;
  flex-direction: column;
  background-size: cover;
  }
    

h1 {
    height: 33.06px;
    width: 155.81px;
    color: #0B2031;
    font-family: "Helvetica Neue";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.86px;
    line-height: 36px;
    text-align: center;
  }

  table {
    border-collapse: separate; 
    border-spacing: 0 10px; 
  }

/* Table Column Width */
td {
    width: 500px;
}

tr {
  padding: 100px;
}

label {
    padding-top: 10px;
}

/*First Name */
.firstNameLabel {
  float: left;
    padding-left: 16px;
}

.firstName {
    width: 82%;
}

/*Last Name */
.lastNameLabel {
  height: 21.22px;
  width: 92.89px;
  color: #0B2031;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.69px;
  line-height: 16px;
  float: left;
}

.lastName {
    box-sizing: border-box;
    height: 47.75px;
    width: 197.16px;
    border-radius: 4px;
    border: 0.5px solid #D1D5D8;
  }

/*Mobile Number */
.phoneLabel {
  height: 21.22px;
  width: 92.89px;
  color: #0B2031;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.69px;
  line-height: 16px;
  float: left;
}

.phone {
  box-sizing: border-box;
  height: 47.75px;
  width: 197.16px;
  border-radius: 4px;
  border: 0.5px solid #D1D5D8;
}

/*Gender */
.genderLabel {
  height: 21.22px;
  width: 92.89px;
  color: #0B2031;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.69px;
  line-height: 16px;
  float: left;
}

.gender {
  box-sizing: border-box;
  height: 47.98px;
  width: 83.78px;
  border-radius: 4px;
  border: 0.5px solid #D1D5D8;
  /*width: 82%;*/
}

/*Email Address */
.emailLabel {
  height: 21.22px;
  width: 92.89px;
  color: #0B2031;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.69px;
  line-height: 16px;
  float: left;
}

.email {
    box-sizing: border-box;
    height: 47.75px;
    width: 369.16px;
    border-radius: 4px;
    border: 0.5px solid #D1D5D8;
}

/*Password*/
.passwordLabel {
    height: 21.22px;
    width: 92.89px;
    color: #0B2031;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.69px;
    line-height: 16px;
    float: left;
}

.password {
    box-sizing: border-box;
    height: 47.75px;
    width: 369.16px;
    border-radius: 4px;
    border: 0.5px solid #D1D5D8;
  }

/*Confirm Password*/
.confirmPassLabel {
    height: 21.22px;
    width: 168px;
    color: #0B2031;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.69px;
    line-height: 16px;
    float: left;
  }

.confirmPassword {
    box-sizing: border-box;
    height: 47.75px;
    width: 369.16px;
    border-radius: 4px;
    border: 0.5px solid #D1D5D8;
  }

  .registerButton {
      height: 50px;
      width: 167px;
      border-radius: 25px;
      background-color: #333;
      color: #FFF;
      font-family: Arial;
      font-size: 18px;
      letter-spacing: 1.41px;
      line-height: 22px;
      text-align: center;
    }


