html, body {height:100%;}
.reservationBox{
    margin: 25px;
    width: 500px
}
.img {
    background-image: url(../../Images/customer_registration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
};