.header {
    background-image: url("../../images/headerbackground.jpg");
    font-size: 50px;
    font-style: oblique;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px black;
    padding: 25px;
}