html, body {height:100%;}
.reservationBox{
    height: relative;
    width: 450px;
    margin: 30px
}
.img {
    background-image: url(../../Images/reservationImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
    background-position: center;
   }
   .edit {
    height: 19.14px;
    width: 43.23px;
    color: #E4283D;
    font-family: "Helvetica Neue";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.74px;
    line-height: 18px;
    border: 0cm;
    background-color: white
   }
   
   input {
    width: 30px;
   }
   
   .addMore{
       margin-bottom: 10px;
       color: green;
       
   }
   .registerButton {
    height: 50px;
    width: 150px;
    color: #FFF;
    font-family: Arial;
    font-size: 18px;
    letter-spacing: 1.41px;
    line-height: 22px;
    text-align: center;
    }

    .registerButton:hover {
      background: #616060;
  }
;