.root{
    flex-grow: 1;
    position: relative;
    width: 550px;
    height: 100%;
   }

   .controls {
    display: flex;
    justify-content: center;
    height: 25%;
    overflow: hidden;
   }

   .sideImage {
       width: 50%;
   }
.content {
 height: 100%;
}
.card{
    /* height: 100%; */
    width: 70%;
    margin-bottom: 30%;
    margin-top: 0%;
    
}
h3 {
    font-size: 70%;
    color: black;
}
h4 {
    font-size: 90%;
    color: maroon;
    text-align: center;
}
.background {
    background-image: url(../../Images/backgroundSize.jpg);
    background-repeat: repeat;
    height: 100%;
}
input[type=number] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
}
#editCost {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-image: url(../../Images/dollarSign.png);
    background-position: 2px 2px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: 1px solid black;
}
#editRating {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
}
#editRating:focus {
    border: 3px solid maroon;
}
.radioGroup {
    /* float: left; */
    width: auto;
    margin-left: 3em;
    display: inline-block;
}

#radioGroup .wrap {
    display: inline-block;
  }
  #radioGroup label {
    display: block;
    text-align: center;
    margin: 0 0.6em;
  }
  #radioGroup input[type="radio"] {
    display: block;
    margin: 0.5em auto;
  }
input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    align-content: left;
}
#cost {
    background-image: url(../../Images/dollarSign.png);
    background-position: 2px 2px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: 1px solid black;
}
#cost:focus {
    border: 3px solid maroon;
}
#inputNew {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    align-content: center;
}
#inputNew:focus {
    border: 3px solid maroon;
}
input:focus {
    border: 3px solid maroon;
}
input[type=submit] {
    width: 35%;
    background-color:maroon;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 100%;
    margin-top: 25px;
    align-content: center;
}  
input[type=submit]:hover {
    background-color: lightcoral;
}
.alignButton {
    text-align: center;
}
  