.wrapper{
    /* display: flex; */
     align-items: center;
     /* height: 600x;
     width: 1300px; */
 }
 
 .right_image{
     background-image: url(../../Images/Login.jpg);
         /* height: 960px;
         width: 640px; */
         height: 100%;
         /* align-items: right; */
         float: right;
         position: static;
       }

 .details_box {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: left;
     border: 3px solid #E0E0E0;
     /* border-right: 3px solid #E0E0E0;
     width: 50%;
     height: 100%;
     position: fixed;
     left: 0px;  */
}

.main_box {
  /* display: flex; */
  /* flex-direction: row; */
  background-color: #FFF;
  width: relative
  /* align-items: left; */
}

.loginheader {
  height: 33.06px;
  width: 155.81px;
  color: #0B2031;
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.86px;
  line-height: 36px;
  text-align: center;
}
 /*Email*/
 /* .emailLbl {
     float: left;
     padding-left: 16px;
     height: 21.22px;
     width: 92.89px;
     color: #0B2031;
     font-family: "Helvetica Neue";
     font-size: 14px;
     font-weight: 500;
     letter-spacing: 0.69px;
     line-height: 16px;
 }
 
 .email{
     width: 82%; 
 }
 
 /*Password*/
 /* .PasswordLbl {
     float: left;
     padding-left: 16px;
     height: 21.22px;
     width: 92.89px;
     color: #0B2031;
     font-family: "Helvetica Neue";
     font-size: 14px;
     font-weight: 500;
     letter-spacing: 0.69px;
     line-height: 16px;
 }
 
 .password {
     width: 82%;
 } */

/* .password {
     height: 21.22px;
     width: 92.89px;
     color: #0B2031;
     font-family: "Helvetica Neue";
     font-size: 14px;
     font-weight: 500;
     letter-spacing: 0.69px;
     line-height: 16px;
   } 
 
 .email {
     height: 21.22px;
     width: 92.89px;
     color: #0B2031;
     font-family: "Helvetica Neue";
     font-size: 14px;
     font-weight: 500;
     letter-spacing: 0.69px;
     line-height: 16px;
     }  */

.standard-password-input:focus {
  border: none;
}

.register_button {
  box-sizing: border-box;
  height: 50px;
  width: 167px;
  border-radius: 25px;
  border: 1px solid #979797;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 1.41px;
  line-height: 20px;
  text-align: center;
  background-color: white;
  margin: 5%
}

.register_button:hover {
  background-color: #929292;
}

 .login_button{
  color: #FFF;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 1.41px;
  line-height: 22px;
  text-align: center;
  height: 50px;
  width: 167px;
  border-radius: 25px;
  background-color: #333;
  margin: 5%;
}

.login_button:hover {
  background-color: #555555;
}

.forgot_password {
  height: 24px;
  width: 222.5px;
  color: #0B2031;
  font-family: "Helvetica Neue";
  font-size: 14px;
  letter-spacing: 0.69px;
  line-height: 16px;
  text-decoration: none;
}

.forgot_password:hover {
  color: orange;
}

/* .login-input{
   width: 60px
 }; */