.navBar {
	background-color: #a70b06;
	height: 60px;
	overflow: hidden;
	font-family: Arial;
}

.navBar text {
	color: #000;
	font-family: "Apple Chancery";
	font-size: 52px;
	letter-spacing: 3.22px;
	bottom: 18px;
	margin-right: 380px;
	position: relative;
	float: left;
}

.navBar li {
	display: inline;
}

.navBar a {
	font-size: 18px;
	letter-spacing: 1.11px;
	line-height: 5px;
	text-decoration: none;
	color: #F2F2F2;
	position: relative;
	bottom: -6px;
	padding-left: 6px;
	padding-right: 6px;
}

.navBar li a:hover {
	border-bottom: 3px solid #FA9917;
}